body {
    background-color: cadetblue;
}

h1 {
    text-align: center;
}

.center {
    justify-content: center;
    align-items: center;
    border: 3px solid darkgoldenrod;
    padding: 3px;
}

table, th {
    border: 1px solid black;
}

th {
    background-color: orange;
    padding: 10px;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color:red;
}

a:active {
    color:royalblue;

}

.butt {
    background-color: sienna;
    color: blanchedalmond;
    font-size: 15px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.radio-group-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

.radio-item {
    margin: 0 10px; 
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid beige;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.form {
    display: grid;
    place-items: center;
    
}